@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,600;1,700&display=swap');
@import "../../node_modules/toastify-js/src/toastify.css";


:root {
  --text-default: #555;
  --text-dark: #333;
  --primary: #e03131;
  --primary-dark: #c92a2a;
  --background-grey: #eee;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1;
  font-weight: 400;
  color: var(--text-default);
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

// TOAST
.toastify {
  font-size: 1.2rem;
  max-width: 30rem;
  background: -webkit-linear-gradient(315deg, var(--primary), var(--text-default));
  background: linear-gradient(135deg, var(--primary), var(--text-default));
}

/**************************************/
/* GENERAL REUSABLE COMPONENTS */
/**************************************/
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

/**************************************/
/* HEADER */
/**************************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background);

  height: min(9.6rem, 18vh);
  padding: 0 4.8rem;
}

.logo {
  height: 3rem;
  transform: scale(3);
}

.logo path {
  stroke: var(--primary);
}

.logo #eye-left,
.logo #eye-right {
  fill: var(--primary);
}

/**************************************/
/* NAVIGATION */
/**************************************/

.main-nav-list {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--text-dark);
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: var(--primary-dark);
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: var(--white);
  background-color: var(--primary);
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: var(--primary-dark);
}


/**************************************/
/* MAIN */
/**************************************/

.main {
  display: grid;
  grid-template-columns: auto 1fr;
  height: min(88vh);
}

.main::before {
  content: '';
  display: inline-block;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: -1;
  background-image: linear-gradient(to right, var(--primary), var(--text-dark));
  height: 1.2rem;
}

.left-nav {
  background-color: var(--background-grey);
  width: 30rem;
  height: 88vh;
  overflow-y: scroll;
  overflow-x: hidden;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.left-nav-list {
  display: flex;
  flex-direction: column;

  list-style: none;
}

.left-nav-list li {
  padding: 2rem 4rem;
  width: 100%;
}

.left-nav-link:link,
.left-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--text-dark);
  font-size: 1.6rem;
  font-weight: 400;
  width: 100%;
}

.left-nav-link:hover,
.left-nav-link:active {
  color: var(--primary-dark);
  font-weight: 500;
}

.search {
  padding: 1rem 2rem;
  width: 90%;
  margin: 2rem auto 1rem 2rem;
  border-radius: 2rem;
  font-size: 1.5rem;
  border: none;
  transition: all 0.2s ease-in-out;
}

.search:focus {
  box-shadow: 1px 1px 15px var(--primary);
}

/**************************************/
/* GALLERY */
/**************************************/

.gallery-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
}

.page-heading {
  margin: 2rem 2rem;
  font-size: 3.6rem;
  color: var(--text-dark);
}

.grid-container {
  columns: 5 200px;
  column-gap: 1.5rem;
  width: 90%;
  margin: 0 auto;

  height: 100%;

  div {
    margin: 0 1.5rem 1.5rem 0;
    display: inline-block;
    width: 100%;
    border: solid 2px var(--text-default);
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    transition: all .25s ease-in-out;

    &:hover img {
      filter: grayscale(0) !important;
    }

    &:hover {
      border-color: var(--primary);
    }

    img {
      width: 100%;
      filter: grayscale(100%);
      border-radius: 5px;
      transition: all .25s ease-in-out;
    }

    p {
      margin: 5px 0;
      padding: 0;
      font-size: 1.5rem;
      font-weight: 500;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.5px;
    }

    min-height: 100px;
  }
}

.hidden {
  display: none;
}

.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background-grey);
}
.wave {
  width: 5px;
  height: 100px;
  background: linear-gradient(45deg, var(--primary), var(--text-default));
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}